* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Give You Glory', cursive;
  font-weight: bolder;
  font-size: 50px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#color1 {
  background-color: #9c1234;
}

#color2 {
  background-color: #cd2834;
}

#color3 {
  background-color: #e34493;
}

#color4 {
  background-color: #74427f;
}

#color5 {
  background-color: #dfb3a6;
}

#color6 {
  background-color: #b37468;
}

.color-chart {
 margin-bottom: 20px;
}

.color-name, .color-texture {

   color: white;
   text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);
}


@media screen and (max-device-width: 800px) {
.mobile-block {
      width: 100%;
      display: block;
  }
}
