* {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Give You Glory', cursive;
  font-weight: bolder;
  font-size: 50px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#color1 {
  box-sizing: border-box;
    background-image: url("swatches/rubywoo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

#color2 {
  background-color: #cd2834;
  background-image: url("swatches/ladydanger.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#color3 {
  background-color: #e34493;
  background-image: url("swatches/candyyumyum.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#color4 {
  background-color: #74427f;
  background-image: url("swatches/heroine.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#color5 {
  background-color: #dfb3a6;
  background-image: url("swatches/cremednude.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#color6 {
  background-color: #b37468;
  background-image: url("swatches/velvetteddy.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.color-chart {
box-sizing: border-box;
 margin-bottom: 20px;
}

.color-name, .color-texture {

   color: white;
   text-shadow: 4px 4px 9px rgba(0, 0, 0, 1);
}


@media screen and (max-device-width: 800px) {
.mobile-block {
      width: 100%;
      display: block;
  }
}
